###  Using list comprehension ,list related functions or otherwise, create following list:

   [[1, 2, 3, 4, 5, 6, 7], [1, 4, 9, 16, 25, 36, 49], [1, 8, 27, 64, 125, 216,343]]

In [ ]:
oddlist= [oddnum for oddnum in range(1,15) if oddnum%2 !=0]
list1 = [[numbers1 for numbers1 in range(1,8)],#[numbers2 if numbers2 == numbers2+oddlist else print('') for numbers2 in range (1,50) ],
         [numbers3**3 for numbers3 in range(1,8)]]
list1

**in upper cell in comment idk what the error or how to add list to other in for loop**

In [27]:
oddlist

[1, 3, 5, 7, 9, 11, 13]

### Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [25]:
list3 = [allnum for allnum  in range (1,51) if allnum %3 == 0]
list3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

###  Use List Comprehension to create a list of the first letters of ever-y word in the string below:

st = 'Create a list of the first letters of every word in this string'

### Write a program to extract phone numbers for each location 

- Consider this dictionary of addresses :

{“home” : [“Hyderabad”,“Lingampally”,“Ph:1234567890”],

“office”:[“Maharashtra”,“Mumbai”,“Ghatkopar”,“Ph : 5432167809”,“Pin :400043”],

“OOI” : [“Singapore”,“Ph : 09876345”]}

In [48]:
dic = {home : ['Hyderabad','Lingampally',Ph : 1234567890],

'office':['Maharashtra','Mumbai','Ghatkopar',Ph : 5432167809,Pin :400043],

'OOI' : ['Singapore','Ph' : 09876345]}
extract = [ pnumbers for pnumbers in dic{} if 'ph' in pnumbers ]
extract

SyntaxError: invalid syntax (<ipython-input-48-353873933edf>, line 1)

### Reverse the string 'Mega' using slicing

In [4]:
str1="Mega"
str1[::-1]

'ageM'

###  in the string below if the **length of a word** is even print "even!"
string = 'Print every word in this sentence that has an even number of letters'

In [18]:
string = "Print every word in this sentence that has an even number of letters"
string.split()
string2 = [x   for x in string.split() if len(x)%2 ==0]

## Create a tuple of 5 elements and then multiply each element of the tuple by 2 & save the results in a list

In [31]:
l1 = []
for x in range(1,6):
    l1.append(x*2)
l1

[2, 4, 6, 8, 10]

### Solve these problems :-

*  https://www.hackerrank.com/challenges/python-string-split-and-join/problem
*  https://www.hackerrank.com/challenges/write-a-function/problem
*  https://www.hackerrank.com/challenges/py-if-else/problem

# problem 1

In [45]:
st2="My Name Is Ahmed Elmorshidy"
st2=st2.split(" ")
st2="-".join(st2)
print(st2)

My-Name-Is-Ahmed-Elmorshidy

# problem 2

In [ ]:
def is_leap(year):
    return year % 4 == 0 and (year % 400 == 0 or year % 100 != 0)
year = int(input('enter the year please : '))
print(is_leap(year))

# problem 3

In [ ]:
num = int(input('enter a number please here : '))

if num %2 !=0 :
        print ('weird')
elif num %2 == 0 and num in range(2,6) :
        print ('not weird')
elif num %2 ==0 and num in range (6,20) : 
        print ("weird")
elif num %2 ==0 and 20 <= num <= 100 :
        print ('not weird')

###   counts how many times the letter “r” appears in the phrase bellow and then print it out .

phrase = "Is it better to have an outlier in your own data ? of course not, to be content with reality; if it's not so bright as dreams,create your fav routine  "

In [2]:
phrase = "Is it better to have an outlier in your own data ? of course not, to be content with reality; if it's not so bright as dreams,create your fav routine "
str2 = [ x for x in phrase if 'r' in x]
print(len(str2))

10